<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
							<span>
			                  <a href="https://waylau.com" title="waylau" target="_blank">
			                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                     alt="waylau">
			                  </a>
					        </span>
                        <a href="https://waylau.com" class="card-link" title="waylau" target="_blank">
                            OAuth 2.0 认证的原理与实践
                        </a></h2>
                    <p class="card-text">使用 OAuth 2.0 认证的的好处是显然易见的。你只需要用同一个账号密码，就能在各个网站进行访问，而免去了在每个网站都进行注册的繁琐过程。 本文将介绍
                        OAuth 2.0 的原理，并基于 Spring Security 和 GitHub 账号，来演示 OAuth 2.0 的认证的过程。</p>
                    <div class="card-text">
                        <a href="#" class="card-link">waylau</a> 发表于 2017-03-17 <i class="fa fa-eye" aria-hidden="true">210</i>
                        <i class="fa fa-heart-o" aria-hidden="true">10</i> <i class="fa fa-comment-o"
                                                                              aria-hidden="true">110</i>
                    </div>
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
							<span>
			                  <a href="https://waylau.com" title="waylau" target="_blank">
			                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                     alt="waylau">
			                  </a>
					        </span>
                        <a href="https://waylau.com" class="card-link" title="waylau" target="_blank">
                            Spring Data + Thymeleaf 3 + Bootstrap 4 实现分页器
                        </a></h2>
                    <p class="card-text">实际上分页器或者分页组件在现实中都有广泛着的应用，照理来说老卫没有必要单独撰文来提这茬。事实是，我近期刚好在写一门关于Spring
                        Data、Thymeleaf 3、Bootstrap 4 的应用课程，所以用了Bootstrap 4的样式，结果之前很多例如 Bootstrap 3
                        的表格、分页器啊之类的插件都不能很好的兼容，百度谷歌无果，而且 Bootstrap 4 还没有出稳定版本，官网的示例也是少的可怜，最终下决心要自己写个分页器了，所用到的技术就是 Spring
                        Data、Thymeleaf 3、Bootstrap 4 。</p>
                    <div class="card-text">
                        <a href="#" class="card-link">waylau</a> 发表于 2017-03-17 <i class="fa fa-eye" aria-hidden="true">1</i>
                        <i class="fa fa-heart-o" aria-hidden="true">130</i> <i class="fa fa-comment-o"
                                                                               aria-hidden="true">0</i>
                    </div>
                </div>
            </div>

            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
							<span>
			                  <a href="https://waylau.com" title="waylau" target="_blank">
			                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                     alt="waylau">
			                  </a>
					        </span>
                        <a href="https://waylau.com" class="card-link" title="waylau" target="_blank">
                            用大白话聊聊分布式系统
                        </a></h2>
                    <p class="card-text">
                        一提起“分布式系统”，大家的第一感觉就是好高大上啊，深不可测，看各类大牛关于分布式系统的演讲或者书籍，也大多是一脸懵逼。本文期望用浅显易懂的大白话来就什么是分布式系统、分布式系统有哪些优势、分布式系统会面临哪里挑战、如何来设计分布式等方面的话题来展开讨论。</p>
                    <div class="card-text">
                        <a href="#" class="card-link">waylau</a> 发表于 2017-03-17 <i class="fa fa-eye" aria-hidden="true">2</i>
                        <i class="fa fa-heart-o" aria-hidden="true">0</i> <i class="fa fa-comment-o" aria-hidden="true">10</i>
                    </div>
                </div>
            </div>
            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-block">
                    <h2 class="card-title">
							<span>
			                  <a href="https://waylau.com" title="waylau" target="_blank">
			                    <img src="https://waylau.com/images/waylau_181_181.jpg" class="blog-avatar-50"
                                     alt="waylau">
			                  </a>
					        </span>
                        <a href="https://waylau.com" class="card-link" title="waylau" target="_blank">
                            zTree 的新增按钮不显示
                        </a></h2>
                    <p class="card-text">zTree 的新增按钮不显示，但是编辑和删除等操作的按钮都正常。在官方的DEMO中，新增按钮也是正常的</p>
                    <div class="card-text">
                        <a href="#" class="card-link">waylau</a> 发表于 2017-03-17 <i class="fa fa-eye" aria-hidden="true">2</i>
                        <i class="fa fa-heart-o" aria-hidden="true">0</i> <i class="fa fa-comment-o" aria-hidden="true">10</i>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <nav>
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">6</a></li>
                    <li class="page-item"><a href="#" class="page-link">7</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <div>
                <!-- 热门标签 -->
                <div class="card ">
                    <h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门搜索</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="#"> <span class="badge badge-default">Web Design</span></a>
                                <a href="#"> <span class="badge badge-default">Jersey</span></a>
                                <a href="#"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="#"> <span class="badge badge-default">CSS</span></a>
                                <a href="#"> <span class="badge badge-default">Java</span></a>
                                <a href="#"> <span class="badge badge-default">Freebies</span></a>
                                <a href="#"> <span class="badge badge-default">Web Design</span></a>
                                <a href="#"> <span class="badge badge-default">Jersey</span></a>
                                <a href="#"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="#"> <span class="badge badge-default">CSS</span></a>
                                <a href="#"> <span class="badge badge-default">Java</span></a>
                                <a href="#"> <span class="badge badge-default">Freebies</span></a>
                                <a href="#"> <span class="badge badge-default">Web Design</span></a>
                                <a href="#"> <span class="badge badge-default">Jersey</span></a>
                                <a href="#"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="#"> <span class="badge badge-default">CSS</span></a>
                                <a href="#"> <span class="badge badge-default">Java</span></a>
                                <a href="#"> <span class="badge badge-default">Freebies</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>