<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container">
		<div class="row">
			<h2 th:text="${userModel.title}">Welcome to waylau.com</h2>
		</div><!-- /.row -->

		<div class="row">
			<p>
				<a class="btn btn-primary" href="/users" th:href="@{/users}" role="button">返回</a>
			</p>
		</div><!-- /.row -->
 		<div class="row">
		    <p class="text-left"><strong>ID:</strong><span id="id" th:text="${userModel.user.id}">123</span></p>
		</div><!-- /.row -->
 		<div class="row">		    
 			<p class="text-left"><strong>Name:</strong><span id="name" th:text="${userModel.user.name}">waylau</span></p>
		</div><!-- /.row -->
 		<div class="row">		    
 			<p class="text-left"><strong>Age:</strong><span id="age" th:text="${userModel.user.age}">30</span></p>
	 	</div><!-- /.row -->

		<div class="row">
		    <a th:href="@{'/users/delete/' + ${userModel.user.id}}">删除 </a>
		    | <a th:href="@{'/users/modify/' + ${userModel.user.id}}">修改</a>
		</div><!-- /.row -->
	</div><!-- /.container -->
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>
